<div>
  <h3><strong>Proceso de <%= type %></strong></h3>
  <p>
    Hola! <i><strong><%= fullName %></strong></i> es de nuestro agrado el
    poder informarte que tus datos han sido procesados correctamente, en unos
    momentos te contactaremos a 
    <i><%= phone %></i> para poder continuar con el procedimiento de tu documento
  </p>
  <hr />
  <p>Para mas Informacion o contacto puedes escribirnos via Whatsapp : +1 (512) 952-6557</p>
  <p>O enviar un correo electronico a: enmalviarez17@gmail.com</p>
  <strong> Nos alegrara el poder ayudarte !! </strong>
</div>